{% extends 'base.html' %}

{% block content %}

<h1>Article lists</h1>
    <p>This are my articles</p>
    <p>{{ name}}</p>
    <p>{{ slug}}</p>
    <p>{{ body}}</p>
    <p>{{ date}}</p>
    <p>{{ article }}</p>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a></h2>
                <p>{{ article.date }}</p>
                <p>{{ article.snippet }}</p>

            </div>
        {% endfor %}
    </div>

    {% endblock %}